body {
  background-color: rgba(50, 50, 50, 1) !important;
}
/* Paper */
.MuiPaper-rounded {
  border-radius: 0 !important;
}

/* Tabs */
div.MuiTabs-root {
  border-bottom: 1px solid rgba(30, 30, 30, 1);
}
a.MuiTab-textColorInherit {
  color: rgba(243, 243, 243, 1);
  background-color: rgba(50, 50, 50, 1);
  opacity: .92;
  border-left: 1px solid rgba(30, 30, 30, 1);
  border-radius: 0 !important;
}

/* Table */
.MuiTableCell-root {
  border-bottom: 1px solid rgba(30, 30, 30, 1) !important;
}
tr.MuiTableRow-root.MuiTableRow-head {
  background-color: rgba(56, 56, 56, 1);
}
tr.MuiTableRow-root.MuiTableRow-hover {
  background-color: rgba(62, 62, 62, 1);
}
tr.MuiTableRow-root.MuiTableRow-head > th, tr.MuiTableRow-root.MuiTableRow-hover > th, tr.MuiTableRow-root.MuiTableRow-hover > td {
  color: rgba(243, 243, 243, 1);
}
tr.MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: rgba(58, 58, 58, 1);
}

.f_createTasksDialog .MuiDialog-paperWidthSm {
  height: 100% !important;
  max-width: 1024px !important;
}
.MuiPaper-rounded > table > tbody > tr:nth-child(1) > td:nth-child(6) {
  width: 228px;
}
.MuiPaper-rounded > table > tbody > tr:nth-child(1) > td:nth-child(7) {
  width: 114px;
}
.MuiPaper-rounded > table > tbody > tr:nth-child(1) > td:nth-child(8) {
  width: 126px;
}
.MuiPaper-rounded > table > tbody > tr:nth-child(1) > td:nth-child(9) {
  width: 189px;
}
.MuiPaper-rounded > table > tbody > tr:nth-child(2) > td:nth-child(6) {
  width: 228px;
}
.MuiPaper-rounded > table > tbody > tr:nth-child(2) > td:nth-child(7) {
  width: 114px;
}
.MuiPaper-rounded > table > tbody > tr:nth-child(2) > td:nth-child(8) {
  width: 126px;
}
.MuiPaper-rounded > table > tbody > tr:nth-child(2) > td:nth-child(9) {
  width: 189px;
}
